{% extends 'base.html' %}
{% load static %}
{% block title %}Faulu Hub Notes{% endblock title %}

{% block body %}

    <div class="intro_wrapper">
        <div class="container">  
            <div class="row">        
                 <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="intro_text">
                        <h1 style="color:black">Notes List</h1>
                
                    </div>
                </div>              

                <div class="col-sm-12 col-md-12 col-lg-12">
					<div class="search_wrapper">
						<div class="search-option" >
							<form action="{% url 'search_results' %}" method="get">

								<div class="form-group d-flex">
									<input name="q" placeholder="What do you want to learn today?" type="text" required="">
								</div>
								<div class="submit-btn">
									<button type="submit" class="text-center">Search</button>
								</div>
							</form>
						</div>
					</div>
				</div>

            </div>
        </div> 
    </div> 
</header> <!-- End Header -->




<section class="latest_news_2" id="latest_news_style_2">
    <div class="container">
        <div class="row">
            <h2>You can search anything that you want or filter from the form below<br>
                <p style="color:red">USE ONLY ONE METHOD</p>
            </h2>
             <div class="container">
                            <div class="row">
                       <form action="{% url 'search_results' %}" method="get">
                                            <div class="form-group">
                        <label>Search</label>
                        <input name="q" type="text" class="form-control" placeholder="Search..............">
                     <button type="submit" class="btn btn-primary">Search</button>

                      </div>
                    </form>

                        </div>
                        </div>
            <div class="container">
            <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <form action="" method='get'>
                {% csrf_token %}
                <h2 style="color:green; font-size:16px">Select From The Choices the form and Subject</h2>
                {{ myfilter.form }}
            <button type="submit" class="btn btn-primary">Search</button>
                </form>
                </div>
            </div>
            </div>
            </div>            
     
          
            
        </div>
    </div>
</section>


<section class="latest_news_2" id="latest_news_style_2">
    <div class="container">
        <div class="row">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Square -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6928404089625406"
     data-ad-slot="7069497118"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
         {% for c in content  %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                 <div class="single_item">
                    <div class="item_wrapper">
                        <div class="blog-img">
                            <a href="{% url 'content_detail' c.slug %}" title=""><img src="{{ c.image.url }}" alt="faulu hub" class="img-fluid"></a>
                        </div>
                        <h3><a href="{% url 'content_detail' c.slug %}" title="">{{ c.name }}</a></h3> 
                    </div>
                    <div class="blog_title">
                        <ul class="post_bloger">
                            <li><i class="fas fa-user"></i>{{ c.form }}</li> 
                            <li><i class="fas fa-book"></i> {{ c.subject }}</li>
                        </ul>               
                    </div> 
                </div>
            </div>            
        {% endfor %}
          
            
        </div>
    </div>
</section><!-- End Our Blog -->

{% endblock body %}
