{% extends 'base.html' %}
{% load static %}

{% block title %}Faulu Hub Videos{% endblock title %}

{% block body %}
<section class="forgot_pass">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-7 col-sm-7 col-md-7 col-lg-7 mx-auto">
				<div class="forgot_wrapper">
         <img src="{% static 'images/construction.jpg' %}" class="image-fluid"> 
				
                     <h6>We are creating quality video content that will be 
                available soon on our website and <a href="https://www.youtube.com/channel/UCSlRNvyqSsrW-ugXE5V35Bg" target="_blank">Youtube Channel.</a>
                Subscribe now to  get notified whenever we release contents.
            </h6>
					<div class="form-group register-btn">
						 	<a href="https://www.youtube.com/channel/UCSlRNvyqSsrW-ugXE5V35Bg" target="_blank"><button type="submit" class="btn btn-primary reset_pass_btn" >Subscribe Now!!!</button></a>
						</div>	
															
		</div>
	</div>
</section>
<!-- ./ End section -->
{% endblock body %}
